/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  gap: 8px;
  margin: 36px auto;
}

.form-input {
  padding: 8px 0 8px 16px;
  margin: 0;
  width: 272px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
}

.form-btn {
  display: block;
  border-radius: 8px;
  width: 91px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

img {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 40px auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}
